<h3>{{viewTitle}}</h3>

<form action="/data" method="POST" autocomplete="off">
<input type="hidden" name="_id" value="{{this._id}}">
    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" name="name" placeholder="Full Name" value="{{this.name}}">
        <div class="text-danger">
            {{record.nameError}}
        </div>
    </div>
       <div class="form-group">
        <label>Grade</label>
        <input type="text" class="form-control" name="grade" placeholder="Grade (ex. 10)" value="{{this.grade}}">
    </div>
       <div class="form-group">
       <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Submit</button>
        <a class="btn btn-secondary" href="/data/list"><i class="fa fa-list-alt">View All</i></a>
    </div>
</form>